* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*   background: #242424;
  display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
